@import "bootstrap-sprockets";
@import "bootstrap";

/* variables */
$weak: #eaeaea;

/* mixins */
@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* sitewide */
body {
  padding-top: 5em;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

/* header */
.logo {
  float: left;
  padding-top: 1em;
  color: #fff;
  letter-spacing: .1em;
  text-transform: uppercase;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */
.footer {
  border-top: 1px solid $weak;  
}

.footer-nav {
  float: right;
  list-style: none;

  li {
    display: inline;
    margin-left: 1em;
  }
}

/* forms */
input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 1em;
  @include box-sizing;
  border-radius: .25em;
}

label {
  &:hover {
    cursor: pointer;
  }
}

input {
  height: auto;
}

.error-explanation {
  color: red;
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-left: 1.25em;

  span {
    font-weight: normal;
  }
}

/* users index */
.users {
  list-style: none;
  margin: 0;
}

/* debug */
.debug_dump {
  width: 100%;
  @include box-sizing;
}